<strong> Olá, {{ user }}</strong>
<p>Sua inscrição foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Evento: </strong> {{ id }} - {{ title }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    Ficamos felizes em contar com você neste evento!
  </small>
</p>
